bitrix/admin/
bitrix/cache/
bitrix/backup/
bitrix/components/
bitrix/managed_cache/
bitrix/modules/
bitrix/otp/
bitrix/panel/
bitrix/php_interface
bitrix/sounds/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
upload/
*}
*jpg
*png



