 .LineHeight1-1{line-height:1;}

 .LineHeight1-15{line-height:1.15;}

  .LineHeight1-2{line-height:1.2;}

  .LineHeight1-5{line-height:1.5; }

  .LineHeight2{line-height:2;}

 .ToWidth{ text-align:justify;}