.line-gradient {
            background: #fff; /* Для старых браузров */
            background: linear-gradient(to right, #808080, #fff);
            border: none;
            height:1px;
            width:600px;
            
            float:left;
	        margin-top:3px;
            margin-bottom:4px;
            margin-left:0;

        }



.bx-breadcrumb {
	margin: 10px 0;
    width:1100px;
margin:auto;
margin-top:10px;
color:grey;
text-decoration:none;
}
.bx-breadcrumb i {
	color: #b5bdc2;
	line-height: 13px;
	font-size: 12px;
	vertical-align: middle;
	margin-right: 5px;
}
.bx-breadcrumb .bx-breadcrumb-item {
	float: left;
	margin: 0px;
	white-space: nowrap;
	line-height: 13px;
	vertical-align: middle;
    margin-right:10px;
text-decoration:none;
}
.bx-breadcrumb {
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	white-space: normal;
}
.bx-breadcrumb .bx-breadcrumb-item a {border-bottom: none;}
.bx-breadcrumb .bx-breadcrumb-item a:hover {
	color: brown;
}

div.bx-breadcrumb a{ color:grey; }