@charset "utf-8";
/* CSS Document */

html, body, div, applet, 
object, iframe, h1, h2, h3, h4, 
h5, h6,
address, cite,
  img, ins, kbd, 
 q,  samp, tt, var, dl, dt, dd, 
 ol, ul, li, fieldset, form, label, legend, 
 table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    font-weight: normal;
}
p{
	margin:0;
	padding:0;
}
body {
    line-height: 1;
}
 ul {
    list-style: none outside none;
}

area{cursor:pointer;}

:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
address{font-style: normal;}

textarea{
    resize: none;
    overflow: auto;
}
blockquote, figure{margin: 0;}
.old-price{
	text-decoration: line-through;
}