<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>

    </title>
    <style type="text/css">
        @media print {
            .noprint {
                display: none !important;
            }
        }
		* {
			font-size:14px;
		}
		@page {
            margin: 0cm;
        }
    </style>
    <script language="javascript">

	     function PrintContent(el)
          {
		    if(getInternetExplorerVersion()!==-1)
		     {
			 //	alert(2);
		      var browserStub = '<OBJECT ID="webBrowser" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';
			  document.body.insertAdjacentHTML('beforeEnd', browserStub);
			  webBrowser.ExecWB(7, 1);
			 webBrowser.outerHTML = '';
			// window.close();
	         }
		  else
		     {
			 //	alert(1);
		      var restorepadge = document.body.innerHTML;
              var printcontent = document.getElementById(el).innerHTML;
              document.body.innerHTML = printcontent;
              window.print();
              document.body.innerHTML = restorepadge;
		     }
		  }

                            function getInternetExplorerVersion()
                            {

                                var rv = -1;
                                if (navigator.appName == 'Microsoft Internet Explorer')
                                {
                                    var ua = navigator.userAgent;
                                    var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
                                    if (re.exec(ua) != null)
                                        rv = parseFloat( RegExp.$1 );
                                }
                                else if (navigator.appName == 'Netscape')
                                {
                                    var ua = navigator.userAgent;
                                    var re  = new RegExp("Trident/.*rv:([0-9]{1,}[\.0-9]{0,})");
                                    if (re.exec(ua) != null)
                                        rv = parseFloat( RegExp.$1 );
                                }
                                return rv;
                            }

    </script>


</head>
<body style="margin:0;">
    <div>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td>
                        <table class="noprint" style="width:70%; border-width:medium; padding-left:95px;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p style="font-size:x-small;">
                                            Прежде чем отправлять документ на печать, воспользуйтесь предварительным просмотром (англ. <i>Print preview</i>) и убедитесь<br>
                                            в корректном отображении документа.<br>
                                            <b>Данный документ не является бухгалтерским документом и представляется для ознакомления.</b>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="Button1" type="button" onclick="PrintContent('content')" value="Напечатать" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border-bottom:dotted; ">
                                        <p style="font-size:x-small; vertical-align:text-bottom; margin-bottom:0; text-align:center;">
                                            информационный облок от начала страницы до пунктирной линии на печать не выводится
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="content">
        <table border=1 CELLSPACING=0 CELLPADDING=2 bordercolor="black" style="margin-left:95px; margin-top:45px; width:80%;">
            <tbody>
                <tr style="font-size:large;">
                    <td>
                        <b>{NAME_BANK}<br>{GOROD_BANK}</b><br>Банк получателя
                    </td>
                    <td>
                        <b>БИК<br>Кор./сч</b>
                    </td>
                    <td>
                        <b>{BIK}</b><br><b>{KORR_SCHET}</b>
                    </td>
                </tr>
                <tr style="font-size:large;">
                    <td>
                        <b>ИНН/КПП: {INN_KPP}</b>
                    </td>
                    <td rowspan="2">
                        <b>Расч./сч.</b>
                    </td>
                    <td rowspan="2">
                        <b>{RASCH_SCHET}</b>
                    </td>
                </tr>
                <tr style="font-size:large;">
                    <td>
                        <b>{SELLER}</b><br>получатель
                    </td>
                    
                </tr>
            </tbody>
        </table>
        <table style="margin-left:95px; margin-top:15px; width:80%;">
            <tbody>
                <tr style="font-size:large;">
                    <td><b>Счёт на оплату № {N_SHET} от {D_SHET} г.</b></td>
                </tr>
                <tr>
                    <td><b>Поставщик:</b><br>{SELLER},{ADDRESS_SELLER}</td>
                </tr>
                <tr>
                    <td><b>Грузоотправитель:</b><br>{NAMeSHIPPER},{SHIPPER_ADRESS}</td>
                </tr>
                <tr>
                    <td><b>Покупатель:</b><br>{NAMeBUYER},{BUYER_ADRESS}</td>
                </tr>
                <tr>
                    <td><b>Грузополучатель:</b><br>{NAMeCONSIGNEE},{CONSIGNEE_ADRESS}</td>
                </tr>
                <tr style="margin-top:15px;">
                    <td>Характер груза: {CARGO_TYPE}&nbsp;Мест:{NUMBER_PIECES}&nbsp;Вес: {WEIGHT}кг</td>
                </tr>
            </tbody>
        </table>
        <table border=1 CELLSPACING=0 CELLPADDING=2 bordercolor="black" style="margin-left:95px; margin-top:15px; width:80%; border-bottom-style:none; border-right-style:none; border-left-style:none;">
            <tbody>
                <tr style="text-align:center;">
                    <td>Наименование услуги</td>
                    <td>Ед. Изм.</td>
                    <td>Кол-во</td>
                    <td>Цена за<br> ед.изм.</td>
                    <td>Сумма</td>
                    <td>Налоговая<br>ставка</td>
                    <td>Сумма<br>налога</td>
                    <td>Всего с<br>учётом<br>налога</td>
                </tr>
                <tr style="text-align:center;">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                {ROWS}
                <tr>
                    <td style="border:none;" colspan="4">Итого к оплате:</td>
                    <td style="border:none;">{SUMMA}</td>
                    <td style="border:none;"></td>
                    <td style="border:none;">{SUmNALOG}</td>
                    <td style="border:none;">{SUmYNALOG}</td>
                </tr>
                <tr>
                    <td style="border:none;" colspan="5">Всего к оплате (руб.): {SUM_ALL}</td>
                </tr>
                <tr>
                    <td style="border:none; margin-top:10px; text-align:left;" colspan="5">Сумма прописью: {SUMMA_TEXT}</td>
                </tr>

            </tbody>
        </table>
        <table style="margin-left:95px; margin-top:30px; width:80%;">
            <tbody>
                <tr>
                    <td style="border:none; width:70px;">
                        Директор
                    </td>
                    <td style="width:200px; border-bottom:solid;"></td>
                    <td style="width:200px;">{FIO_BOSS}</td>
                    <td style="width:20px;"></td>
                    <td style="border:none; width:70px;">
                        Гл.бухгалтер
                    </td>
                    <td style="width:200px; border-bottom:solid;"></td>
                    <td>{FIO_BUH}</td>
                </tr>
            </tbody>
        </table>
        <table border=1 CELLSPACING=0 CELLPADDING=2 bordercolor="black" style="margin-left:95px; margin-top:30px; width:80%;">
            <tbody>
                <tr style="height:100px; width:100%;"></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
